@tailwind base;

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
}

@tailwind components;
@tailwind utilities;

.bg-custom {
  background: rgb(29, 41, 72);
  background: linear-gradient(
    111deg,
    rgba(29, 41, 72, 1) 0%,
    rgba(20, 29, 51, 1) 22%,
    rgba(15, 22, 40, 1) 39%,
    rgba(5, 10, 22, 1) 100%
  );
}
